@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url(header.css);

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

:root{
    --fonte-principal: "Inter", sans-serif;


    --cor-titulo: #3A404E;
    --cor-texto:  #667085;
    --branco-principal: white;
    --preto-principal: #101828;
    --bordo-principal: #8E2424;
     
}

.conteudo__section-1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 96px 0 96px 0;
    gap: 24px;
}



.conteudo__section-1__titulo-primario{
    color: var(--bordo-principal);
    font-weight: 600;
    font-size: 16px;
}
 
.conteudo__section-1__titulo-secundario{
    font-weight: 600;
    font-size: 48px;
}

.conteudo__section-1__texto{
    color: var(--cor-texto);
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    margin: 0 28em;
}


#conteudo__section__1{
    margin-right: 2.9em;
}


.conteudo__section-2{
    display: flex;
    gap: 30px;
    padding: 0 32px 96px 32px;
    margin: 1em 4em;
}


.conteudo__section-2__itens{
    display: flex;
    gap: 20px;
    flex-direction: column;
    margin-left: 5em;
}


.conteudo__section-2__itens__titulo{
    color: var(--bordo-principal);
    font-weight: 600;
    font-size: 60px;
}

.conteudo__section-2__itens__subtitulo{
    color: var(--preto-principal);
    font-weight: 500;
    font-size: 18px;
    margin-top: -0.5em;
}

.conteudo__section-2__itens__texto{
    color: var(--cor-texto);
    font-weight: 400;
    font-size: 16px;
    margin-right: 3em;
}

